body {
    display: grid;
    place-items: center;
    text-align: center;
}

section {
    float: left;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    table-layout: fixed;
    border-collapse: collapse;
    border: 3px solid;
    text-align: center;
}

th, td {
    padding: 10px;
    border-collapse: collapse;
    border: 3px solid;
}

button#calcular {
    margin-bottom: 25px;
}

footer {
    position: fixed;
    bottom: 0;
}